.JSOD {
	border: 1px solid gray;
	overflow: hidden;
}

.JSOD-toolbar {
	text-align: center;
}

.JSOD-table {
	text-align: center;
}

.JSOD-button {
	vertical-align: middle;
}

.JSOD-range {
	vertical-align: middle;
}

.JSOD-dragging {
	cursor: move;
}

.JSOD-home-clicked {
	color: red;
}

.JSOD-error {
	color: red;
}
